.slide-container {
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.items-container {
    width: 100%;
    position: relative;
}

.picture-visible {
    object-fit: cover;
    object-position: center;
    height: 415px;
    width: 100%;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.picture {
    opacity: 0.6;
    object-fit: cover;
    object-position: center;
    height: 415px;
    width: 100%;
    border-radius: 25px;
}

.arrow-container {
    display:flex;
    position:absolute;
    justify-content: space-between;
    width: 100%;
    top: 40%;
    text-align: center;
}

.arrow {
    cursor: pointer;
    padding: 0 20px;
}

.bullet-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 90%;
    width: 100%;
}

.number {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
