.name-container {
    line-height: 0.5;
    text-align: right;
}

.host-name {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    padding-right: 10px;
}

.profile {
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
    height: 64px;
}

@media screen and (max-width: 850px) {
    .name-container {
        display:flex;
        flex-direction: column;
        line-height: 1.3;
    }
    .host-name {
        margin:0;
        font-size: 15px;
    }
    .profile {
        height: 55px;
    }
}