.tag {
    background-color: #FF6060;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    min-width: 115px;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .tag {
        min-width: 70px;
        font-size: 12px;
    }
}