.header-container {
    display:flex;
    align-items: center;
    justify-content: space-between
}

.link-container {
    gap: 50px;
    display:flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 24px;
    color: #FF6060;
    font-weight: 500;
}

.link-effect {
    text-decoration: underline;
    color:#FF6060;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 850px) {
    .link {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .link-effect {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .link-container {
        align-items: center;
    }

    .logo {
        width: 80%;
    }
}

@media screen and (max-width: 440px) {
    .link {
        font-size: 12px;
    }

    .logo-link {
        max-width: 50%;
    }

    .link-effect {
        font-size: 12px;
    }

    .logo {
        width: 70%;
    }

    .link-container {
        gap: 20px;
    }
}