.container {
    min-height: 90vh;
}

.collapse-container {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    width: 100%;
}

.equipments {
    word-break: break-all;
    line-height: 0.5;
    padding: 0 25px;
}

.description {
    padding: 0 25px;
}

@media screen and (max-width: 850px) {
    .collapse-container {
        display:flex;
        flex-direction: column;
    }
}